.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.cars-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
}
.btn-choose{
    width: 100%;
    background-color: cadetblue;
    border: none;
    border-radius: 0px 0px 8px 8px;
}